@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 1.8;
  font-family: "Comfortaa", sans-serif!important;
  /*font-family: 'Dancing Script', cursive!important;*/
  a {
    color: unset;
  }
  box-sizing: border-box;
  transition: all .2s linear;
}
.uppermedium_text{
  font-size: 22px;
}
.medium_text{
  font-size: 17px;
}
.small_text{
  font-size: 15px;
}

#header-top {
  border-bottom: 1px solid #E5E5E5;
  font-size: 12px;
  color: #666666
}

#header-top .address-top {
  display: flex;
  gap: 5px;
  align-items: center
}

#header-top .button-login {
  gap: 5px;
  align-items: center
}

.header-bg-dark .header-main {
  background: #eaeaea;
  overflow: hidden
}

body {
  /* h4 {
    font-weight: 500;
    width: fit-content;
    font-size: 17px !important;
    font-family: 'Dancing Script', cursive!important;
    font-style: italic;
  }
  h2 {
    margin-top: 20px;
    font-weight: 500;
    width: fit-content;
    font-size: clamp(1.5625rem, 1.4057rem + 0.6604vw, 2rem) !important;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
  } */
  .container_custom {
    width: 80%;
  }
  .container_custom-sm {
    width: 60%;
  }
  a {
    position: relative;
    color: unset;
  }
  a:after {
    pointer-events: none;
    background-color: black;
    bottom: -4px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
    width: calc(100%);
  }
  a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .flex_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn {
    padding: 15px 44px;
    width: fit-content;
    border-radius: 5px;
  }
  
  .white_btn {
    background-color: whitesmoke;
    color: black;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  
  .black_btn {
    background-color: black;
    color: white;
    a:hover:after {
      transform: scaleX(1);
      transform-origin: left;
      background-color: white;
    }
  }
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


